{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    Download
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Download</h1>
            <form action="" method="POST" class="download-form">
                {% csrf_token %}
                {{ form.media }}

                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="row g-3">
                    <div class="col-12 col-lg-6 mb-3">
                        <div class="form-group">
                            {{ form.elements.label_tag }}
                            {% render_field form.elements class="form-control" %}
                            {% if form.elements.errors %}
                                <div class="invalid-feedback d-block">{{ form.elements.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions mt-3">
                <button type="submit" id="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-save me-2" aria-hidden="true"></i>Speichern
                </button>
                <a href="javascript:history.back()" class="btn btn-secondary ms-2">
                    Abbrechen
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
