{% extends "index.html" %}
{% load static %}

{% block title %}Kategorien{% endblock %}

{% block content %}
    <!-- Modal for creating new category -->
    <div id="createNewCategory" class="modal" tabindex="-1" role="dialog" aria-labelledby="createNewCategoryLabel" aria-hidden="true"></div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Kategorien</h1>
                <p class="game-type-path">
                    <a href="{% url 'gamefiles:game_type_list' %}" class="game-type-link">Spielarten</a> &gt;
                    {{ game_type }}
                </p>
            </div>
        </div>
        
        <div class="row no-gutters">
            {% for c in categories %}
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="{% url 'gamefiles:category_detail' game_type=c.game_type.pk id=c.pk %}" class="category-link">
                        <div class="shape">
                            <h2>{{ c.name_de }}</h2>
                            {% if c.logo %}
                                <i class="fa fa-{{ c.logo }} fa-3x icon-white"></i>
                            {% endif %}
                            <p>{{ c.amount_files }} Dateien</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            // CSRF token handling
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            
            const csrftoken = getCookie('csrftoken');
            
            // Ajax setup for CSRF protection
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            // Modal handler
            $('#createNewCategory').on('show.bs.modal', function (event) {
                const modal = $(this);
                const segments = window.location.href.split('/');
                const urlBase = `${segments[0]}//${segments[2]}/${segments[3]}/`;
                const gameTypeId = segments[5];
                
                $.ajax({
                    url: `${urlBase}category-create/${gameTypeId}`,
                    method: 'GET'
                }).done(function(response) {
                    modal.html(response);
                });
            });
        });
    </script>
    
    <style>
        .mt-5 {
            margin-top: 5rem;
        }
        .game-type-path {
            color: #dc2019;
        }
        .game-type-link {
            text-decoration: none;
            color: #dc2019;
        }
        .category-link {
            text-decoration: none;
        }
        .icon-white {
            color: white;
        }
    </style>
{% endblock %}