{% extends "index.html" %}
{% load static %}

{% block title %}
    {{ category.name_de}}
{% endblock %}

{% block head %}
    <!-- autocomplete CSS -->
    <link href="{% static 'admin/css/vendor/select2/select2.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/autocomplete.css' %}" rel="stylesheet">
    <link href="{% static 'autocomplete_light/select2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div id="createCategoryElement" class="modal" tabindex="-1" role="dialog" aria-labelledby="createCategoryElement" aria-hidden="true">
    </div><!-- modal -->
    <div id="downloadElements" class="modal" tabindex="-1" role="dialog" aria-labelledby="downloadElements" aria-hidden="true">
    </div><!-- modal -->

    <div class="container" style="margin-top:8vw">
        <div class="row">
            <div class="col-12" style="padding-left:0;">
                <h1>{{ category.name_de }}</h1>
                <p style="color:#dc2019;">
                    <a href="{% url 'gamefiles:game_type_list' %}" style="text-decoration: none;color:#dc2019;">Spielarten</a> >
                    <a href="{% url 'gamefiles:category_list' category.game_type.pk %}" style="text-decoration: none;color:#dc2019;">{{ category.game_type }}</a> >
                    {{ category.name_de }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding-left:0;margin-bottom:2%">
                <h3>{{ category.description_de }}</h3>
            </div>
            <div class="col-lg-2 col-9 text-center align-self-center" style="background-color:#dc2019;padding-top:5%;padding-bottom:5%;">
                <h3 style="color:white;">{{ category.amount_files }}</h3>
                <h3 style="color:white;">Elemente</h3>
            </div>
            <div class="col-lg-3 col-12">
                <div class="row no-gutters">
                    <div class="col-12" style=";color:#dc2019;">
                        <h3 style="padding-top:0;">Häufigste Tags</h3>
                    </div>
                    {% for t, amount in tags %}
                        <div class="col-12" style="color:#dc2019;">
                            <i class="fa fa-tags"></i> {{ amount }} x {{ t }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="row no-gutters">
                    <div class="col-12" style="color:#dc2019;">
                        <h3 style="padding-top:0;">Beispiele</h3>
                    </div>
                    {% for e in category.examples %}
                        <div class="col-12" style="color:#dc2019;">
                            {{ e.solution }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="col-12" style="color:#dc2019;">
                    <h3 style="padding-top:0">Schwierigkeit</h3>
                    <canvas id="pie-chart" style="padding:0;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <script src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
    <script src="{% static 'autocomplete_light/select2.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });
    });

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#dc2019', '#ffffff', '#104b8f', '#208a3a', '#ebe72f', '#b825d9', '#edb809', '#1fbacf', '#1ced4d', '#e04882', '#000000'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        layout: {
            padding: {
                left: -80,
                right: 0,
                top: 0,
                bottom: 0
            }
         }
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    console.log(csrftoken);

    //Ajax call
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#createCategoryElement').on('show.bs.modal', function (event) {
        var modal = $(this)
        var segments = $(location).attr('href').split( '/' );
        var url_base = segments[0]+"//"+segments[2]+"/"+segments[3]+"/";
        let game_type;
        if (segments[4] === '1') {
            game_type = 'image-';
        } else if (segments[4] === '2') {
            game_type = 'sound-';
        } else {
            game_type = 'question-';
        }
        var category_id = segments[5];
        $.ajax({
            url: url_base+game_type+"create/"+category_id,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })

    $('#downloadElements').on('show.bs.modal', function (event) {
        var modal = $(this)
        var segments = $(location).attr('href').split( '/' );
        var url_base = segments[0]+"//"+segments[2]+"/"+segments[3]+"/";
        let game_type;
        if (segments[4] === '1') {
            game_type = 'image-';
        } else if (segments[4] === '2') {
            game_type = 'sound-';
        } else {
            game_type = 'question-';
        }
        var category_id = segments[5];
        $.ajax({
            url: url_base+game_type+"download/"+category_id,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })
  </script>
{% endblock %}