{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<div class="modal-dialog" role="document">
    <form id="category-create" action="{% url 'gamefiles:category-create' game_type_id=game_type_id %}" method="post">{% csrf_token %}
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h2 class="modal-title">Neu</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- modal-header -->
            <div class="modal-body">{{ form.media }}
                <div class="row">
                    <div class="col-12 form-group">
                        {{ form.name_de.label_tag }}
                        {% render_field form.name_de class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.description_de.label_tag }}
                        {% render_field form.description_de class="form-control" %}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.private.label_tag }}
                        {% render_field form.private class="form-control" %}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.logo.label_tag }}
                        {% render_field form.logo class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.game_type.label_tag }}
                        {% render_field form.game_type class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Abbrechen</button>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div><!-- modal-footer -->
        </div><!-- modal-content -->
    </form>
</div><!-- modal-dialog -->
<script type="text/javascript">
    var form_options = { target: '#createNewCategory', success: function(response) {} };
    $('#category-create').ajaxForm(form_options);
</script>
