{% extends "index.html" %}
{% load static %}

{% block title %}Spielarten{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Spielarten</h1>
        <div class="row no-gutters">
            {% for gt in game_types %}
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <a href="{% url 'gamefiles:category_list' gt.pk %}" class="game-type-link">
                        <div class="shape">
                            <h2>{{ gt.name_de }}</h2>
                            {% if gt.logo %}
                                <i class="fa fa-{{ gt.logo }} fa-3x icon-white"></i>
                            {% endif %}
                            <p>{{ gt.amount_categories }} Kategorien</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .mt-5 {
            margin-top: 5rem;
        }
        .game-type-link {
            text-decoration: none;
        }
        .icon-white {
            color: white;
        }
    </style>
{% endblock %}