{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    Hinweis ändern
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="POST" class="post-form">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
           {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
        {% endif %}
        <h1>Hinweis</h1>
        <div class="row">
            <div class="col-12 col-lg-6 form-group">
                {{ form.solution.label_tag }}
                {% render_field form.solution class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint1.label_tag }}
                {% render_field form.hint1 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint2.label_tag }}
                {% render_field form.hint2 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint3.label_tag }}
                {% render_field form.hint3 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint4.label_tag }}
                {% render_field form.hint4 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint5.label_tag }}
                {% render_field form.hint5 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint6.label_tag }}
                {% render_field form.hint6 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint7.label_tag }}
                {% render_field form.hint7 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint8.label_tag }}
                {% render_field form.hint8 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint9.label_tag }}
                {% render_field form.hint9 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.hint10.label_tag }}
                {% render_field form.hint10 class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.difficulty.label_tag }}
                {% render_field form.difficulty class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.explicit.label_tag }}
                {% render_field form.explicit class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.private_new.label_tag }}
                {% render_field form.private_new class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.tags.label_tag }}
                {% render_field form.tags class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.category.label_tag }}
                {% render_field form.category class="form-control" %}
            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i></button>
    </form>
</div>
{% endblock %}

