{% extends "index.html" %}
{% load static %}

{% block title %}
    Buzzinga - Home
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:8vw">
        <h1>Buzzinga</h1>
        <h3>Individualisierbares Buzzer Quiz</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <h3>3 Spieltypen</h3>
            </div>
            <div class="col-12 col-md-3">
                <h3>Diverse Kategorien</h3>
            </div>
            <div class="col-12 col-md-3">
                <h3>USB Tastatur & Maus</h3>
            </div>
            <div class="col-12 col-md-3">
                <h3>Von dir erweiterbar</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>Was du brauchst</h2>
            </div>
            <div class="col-12 col-md-3">
                <h3>1 Raspberry Pi</h3>
            </div>
            <div class="col-12 col-md-3">
                <h3>Buzz! Buzzer</h3>
            </div>
            <div class="col-12 col-md-3">
                <h3>USB Tastatur & Maus</h3>
            </div>
            <div class="col-12 col-md-3">
                <h3>Buzzinga Betriebssystem</h3>
            </div>
        </div>
    </div>
{% endblock %}