{% load widget_tweaks %}
{% load i18n %}
{% load static %}

<div class="modal-dialog" role="document">
    <form id="question-create" action="{% url 'gamefiles:question-create' category_id=category_id %}" method="post">{% csrf_token %}
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h2 id="category-element-modal-title" class="modal-title">Neu</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div><!-- modal-header -->
            <div id="category-element-modal-body" class="modal-body">{{ form.media }}
                <div class="row">
                    <div class="col-12 form-group">
                        {{ form.quiz_question.label_tag }}
                        {% render_field form.quiz_question class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.solution.label_tag }}
                        {% render_field form.solution class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.option1.label_tag }}
                        {% render_field form.option1 class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.option2.label_tag }}
                        {% render_field form.option2 class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.option3.label_tag }}
                        {% render_field form.option3 class="form-control" %}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.difficulty.label_tag }}
                        {% render_field form.difficulty class="form-control" %}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.explicit.label_tag }}
                        {% render_field form.explicit class="form-control" %}
                    </div>
                    <div class="col-12 form-group">
                        {{ form.tags.label_tag }}
                        {% render_field form.tags class="form-control" %}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.private_new.label_tag }}
                        {% render_field form.private_new class="form-control" %}
                    </div>
                    <div class="col-6 form-group">
                        {{ form.category.label_tag }}
                        {% render_field form.category class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Abbrechen</button>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div><!-- modal-footer -->
        </div><!-- modal-content -->
    </form>
</div><!-- modal-dialog -->
<script>
    var form_options = { target: '#createCategoryElement', success: function(response) {} };
    $('#question-create').ajaxForm(form_options);
</script>