{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    Download
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="POST" class="post-form">{% csrf_token %}
        {% csrf_token %}
        {{ form.media }}
        <h1>Download</h1>
        <div class="row">
            <div class="col-6 form-group">
                {{ form.min_difficulty.label_tag }}
                {% render_field form.min_difficulty class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.max_difficulty.label_tag }}
                {% render_field form.max_difficulty class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.max_upload_date.label_tag }}
                {% render_field form.max_upload_date class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.min_upload_date.label_tag }}
                {% render_field form.min_upload_date class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.explicit.label_tag }}
                {% render_field form.explicit class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.private_new.label_tag }}
                {% render_field form.private_new class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.created_by.label_tag }}
                {% render_field form.created_by class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.amount.label_tag }}
                {% render_field form.amount class="form-control" %}
            </div>
            <div class="col-6 form-group">
                {{ form.category.label_tag }}
                {% render_field form.category class="form-control" %}
            </div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary btn-sm" title="Download"><i class="fa fa-download"></i></button>
        <a href="{% url 'gamefiles:category_detail' game_type=game_type_id id=category_id %}" title="Zurück" class="btn btn-primary btn-sm"><i class="fa fa-backward"></i></a>
    </form>
</div>
{% endblock %}

