{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    Wer weiß mehr?
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% if form.errors %}
           {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                   <strong>{{ error|escape }}</strong>
              </div>
           {% endfor %}
        {% endif %}
        <h1>Wer weiß mehr?</h1>
        <div class="row">
            <div class="col-12 col-lg-6 form-group">
                {{ form.solution.label_tag }}
                {% render_field form.solution class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.difficulty.label_tag }}
                {% render_field form.difficulty class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.explicit.label_tag }}
                {% render_field form.explicit class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.private_new.label_tag }}
                {% render_field form.private_new class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.tags.label_tag }}
                {% render_field form.tags class="form-control" %}
            </div>
            <div class="col-12 col-lg-6 form-group">
                {{ form.category.label_tag }}
                {% render_field form.category class="form-control" %}
            </div>
        </div>
        <h3>Lösungen</h3>
        {{ formset.management_form }}
        <div class="row">
            {% for f in formset %}
                <div class="col-12 col-lg-3 form-group">
                    {{ f.id }}
                    {{ f.answer.label_tag }}
                    {% render_field f.answer class="form-control" %}
                </div>
            {% endfor %}
        </div>
        <input type="button" class="btn btn-primary btn-sm" value="Antwort hinzufügen" id="add_more">
        <button type="submit" id="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-save"></i></button>
    </form>
</div>
<script type="text/javascript">
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        console.log(total);
        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    };

    $('#add_more').click(function() {
        cloneMore('div.col-12:last', 'whoknowsmoreelement_set');
    });
</script>
{% endblock %}

